.App {
  text-align: center;
}
div {
  display: block;
  unicode-bidi: isolate;
}

.closed-modal {
  align-items: center;
  border: 2px solid #8585ff;
  border-radius: 5px;
  display: flex
;
  height: 150px;
  justify-content: center;
  margin: 25vh auto auto;
  width: 300px;
}

.HomeImgPlayer{
  height:55px;
}

.HomeButtonPlayer{
  background: none;
  box-shadow: none;
}

.HomeButtonPlayer:hover {
  background-color: red;
  box-shadow: none;
}


.HomeButtonPlayer:focus  {
  background: none;
  box-shadow: none;
}